spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5

  jpa:
    show-sql: false

  flyway:
    baseline-on-migrate: false

jwt:
  secret: ${JWT_SECRET}

logging:
  level:
    kr.go.ecommerce: INFO
    org.hibernate.SQL: WARN
    org.springframework.security: WARN
